<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAL-IN</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1> CAL-IN</h1>
    </header>
    <nav>
        <a href="/"> Accueil </a>
        <a href="/european"> Options européennes </a>
        <a href="/american"> Options américaines </a>
        <a href="/bermudan"> Options bermudiennes </a>
        <a href="/barrier"> Options barrières </a>
        <a href="/asian"> Options asiatiques </a>
        <a href="/lookback"> Options lookback </a>
    </nav>
    <main>
        <section class="formulaire">
            <h2> Calculateur d'une option exotique asiatique (call et put) </h2>
            <form method="POST">
                <label for="moyenne_type"> Type de moyenne : </label>
                <select id="moyenne_type" name="moyenne_type" required>
                    <option value="arithmetic"> arithmétique </option>
                    <option value="geometric"> géométrique </option>
                </select><br><br>

                <label for="S">Prix de l'actif sous-jacent (S, en euros) :</label>
                <input type="text" id="S" name="S" required><br><br>

                <label for="K">Prix d'exercice (K, en euros) :</label>
                <input type="text" id="K" name="K" required><br><br>

                <label for="T">Temps jusqu'à l'échéance (T, en années ou fraction d'années ex: 3 mois = 0.25) :</label>
                <input type="text" id="T" name="T" required><br><br>

                <label for="r">Taux d'intérêt sans risque (r, en décimal) :</label>
                <input type="text" id="r" name="r" required><br><br>

                <label for="sigma">Volatilité (σ, en décimal) :</label>
                <input type="text" id="sigma" name="sigma" required><br><br>

                <label for="n">Nombre d'intervalles : </label>
                <input type="text" id="n" name="n" value="100" required><br><br>

                <button type="submit">Calculer</button>
            </form>
        </section>
        <section class="resultats">
            {% if moyenne_type is not none and call_result is not none and put_result is not none %}
            <h2>Résultats :</h2>
            <p>Prix estimé de l'option asiatique (Moyenne {{moyenne_type}})  (Call) : {{ call_result }}</p>
            <p>Incertitudes de l'option asiatique (Moyenne {{moyenne_type}}) (Call) : {{ call_uncertainty}}</p>
            <p>Prix estimé de l'option asiatique (Moyenne {{moyenne_type}})  (Put) : {{ put_result }}</p>
            <p>Incertitudes de l'option asiatique (Moyenne {{moyenne_type}}) (Put) : {{ put_uncertainty}}</p>
            {% endif %}
        </section>
        <section class="graphs">
            {% if call_graph %}
            <h3>Trajectoires Monte Carlo - Option Call :</h3>
            <img src="data:image/png;base64,{{ call_graph }}" alt="Graphique Call">
            {% endif %}

            {% if put_graph %}
            <h3>Trajectoires Monte Carlo - Option Put :</h3>
            <img src="data:image/png;base64,{{ put_graph }}" alt="Graphique Put">
            {% endif %}
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>