<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAL-IN</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="/european"> Options européennes </a>
        <a href="/american"> Options américaines </a>
        <a href="/bermudan"> Options bermudiennes </a>
    </nav>
    <h1> Calculateur d'une option vanille bermudienne (call et put) </h1>

    
</body>
</html>
