<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAL-IN</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <a href="/">Accueil</a>
        <a href="/european">Calculateur d'option vanille européenne </a>
        <a href="/american">Calculateur d'option américaine </a>
        <a href="/bermudian">Calculateur d'option bermudienne </a>
    </nav>
    <h1> Calculateur d'une option vanille européenne (call et put) </h1>
    <form action="/european/calculate" method="POST">
        <label for="S">Prix de l'actif sous-jacent (S) :</label>
        <input type="text" id="S" name="S" required><br><br>

        <label for="K">Prix d'exercice (K) :</label>
        <input type="text" id="K" name="K" required><br><br>

        <label for="T">Temps jusqu'à l'échéance (T, en années) :</label>
        <input type="text" id="T" name="T" required><br><br>

        <label for="r">Taux d'intérêt sans risque (r, en décimal) :</label>
        <input type="text" id="r" name="r" required><br><br>

        <label for="sigma">Volatilité (σ, en décimal) :</label>
        <input type="text" id="sigma" name="sigma" required><br><br>

        <label for="dS">Incertitude sur S :</label>
        <input type="text" id="dS" name="dS" required><br><br>

        <label for="dK">Incertitude sur K :</label>
        <input type="text" id="dK" name="dK" required><br><br>

        <label for="dT">Incertitude sur T :</label>
        <input type="text" id="dT" name="dT" required><br><br>

        <label for="dr">Incertitude sur r :</label>
        <input type="text" id="dr" name="dr" required><br><br>

        <label for="dSigma">Incertitude sur σ :</label>
        <input type="text" id="dSigma" name="dSigma" required><br><br>

        <button type="submit">Calculer</button>
    </form>

    {% if call_result is not none and put_result is not none %}
    <h2>Résultats :</h2>
    <p>Prix de l'option Call : {{ call_result }}</p>
    <p>Incertitude sur l'option Call : {{ call_uncertainty }}</p>
    <p>Prix de l'option Put : {{ put_result }}</p>
    <p>Incertitude sur l'option Put : {{ put_uncertainty }}</p>
    {% endif %}
    
</body>
</html>
