<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAL-IN</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1> Bienvenue sur notre site web de notre projet : CAL-IN </h1>
    <p>  </p>
    <a href="https://github.com/tarmyos/Projet-CAL-IN" target="_blank"> accès github </a>
    <br>
    <a href="/european"> accès interface </a>
    <br>
    <p> réalisé par Valérian DARMENTÉ, Lianbin YANG, Vincent FODÉRÉ, Mamadou WADE, Octave DE LA POËZE D HARAMBURE, Simon VEAUX & Rémi GAUDÉ </p>
</body>
</html>
