<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAL-IN</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_CAL-IN.png') }}?v=2">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <img src="/static/images/logo_CAL-IN.png" alt="Logo de CAL-IN">
    </header>
    <nav>
        <a href="/">Accueil</a>
        <a href="/european"> Options européennes </a>
        <a href="/american"> Options américaines </a>
        <a href="/bermudan"> Options bermudiennes </a>
        <a href="/barrier"> Options barrières </a>
        <a href="/asian"> Options asiatiques </a>
        <a href="/lookback"> Options lookback </a>
    </nav>
    <section class="accueil">
        <h2> Bienvenue sur le site web de notre projet : CAL-IN </h2>
        <p> Ce site web a été réalisé dans le cadre de notre PFE pour le projet CAL-IN (2024-2025). </p>
        <p> <i> réalisé par Valérian DARMENTÉ, Lianbin YANG, Vincent FODÉRÉ, Mamadou WADE, Octave DE LA POËZE D HARAMBURE, Simon VEAUX & Rémi GAUDÉ </i> </p>
        
        <!-- Ajout de l'image >
                <div class="image-bourse">
                    <img src="/static/images/graphique-bourse.png" alt="Graphique des cours de bourse">
                </div-->
        
    </section>
        <div class="explications">
            <div>
                <h2>Qui sommes-nous ?</h2>
                <p>CAL-IN est une application web dédiée à la compréhension et à l'analyse des produits financiers en intégrant la gestion des incertitudes. Conçue par des étudiants en finance, cybersécurité et systèmes d'information, notre plateforme combine des modèles mathématiques avancés et une interface intuitive pour une expérience utilisateur optimale.</p>
            </div>

            <div>
                <h2>Nos Fonctionnalités Clés :</h2>
                <ul>
                    <li><strong>Simulation Financière Avancée :</strong> Intégration des modèles Black-Scholes, simulations Monte Carlo, et lois binomiales.</li>
                    <li><strong>Analyse des Incertitudes :</strong> Estimation précise des prix avec propagation des incertitudes.</li>
                    <li><strong>Interface Ergonomique :</strong> Graphiques interactifs, explications détaillées, et export des données (PDF/Excel).</li>
                    <li><strong>Formation et Pédagogie :</strong> Contenus éducatifs pour les étudiants, professionnels et particuliers.</li>
                </ul>
            </div>

            <div>
                <h2>Pourquoi Choisir CAL-IN ?</h2>
                <ul>
                    <li><strong>Accessibilité :</strong> Outil en ligne accessible partout et à tout moment.</li>
                    <li><strong>Innovation :</strong> Approche unique intégrant la gestion des risques et des incertitudes.</li>
                    <li><strong>Communauté :</strong> Partage d’expériences et d’analyses au sein d’une communauté engagée.</li>
                </ul>
            </div>

            <div>
                <h2>Nos Utilisateurs Cibles :</h2>
                <ul>
                    <li>🎓 <strong>Étudiants en finance</strong> (licence, master)</li>
                    <li>💼 <strong>Professionnels débutants</strong> (analystes juniors, conseillers financiers)</li>
                    <li>🌍 <strong>Particuliers curieux</strong> des concepts financiers</li>
                </ul>
            </div>

            <div>
                <h2>Rejoignez-nous !</h2>
                <p>Explorez les fonctionnalités de CAL-IN, découvrez de nouveaux outils d’analyse et maîtrisez la valorisation des produits financiers avec plus de précision.</p>
            </div>
        </div>

    <nav>
        <a href="https://github.com/tarmyos/Projet-CAL-IN" target="_blank"> Accès GitHub </a>
    </nav>
    <footer>
        <p>&copy; 2024-2025 CAL-IN. Tous droits réservés.</p>
    </footer>
</body>
</html>
