<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAL-IN</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1> CAL-IN</h1>
    </header>
    <nav>
        <a href="https://github.com/tarmyos/Projet-CAL-IN" target="_blank"> Accès GitHub </a>
        <a href="/european"> Accès interface </a>

    </nav>
    <section class="accueil">
        <h2> Bienvenue sur le site web de notre projet : CAL-IN </h2>
        <p>  </p>
        <p> Ce site web a été réalisé dans le cadre de notre PFE pour le projet CAL-IN (2024-2025). </p>
        <p> <i> réalisé par Valérian DARMENTÉ, Lianbin YANG, Vincent FODÉRÉ, Mamadou WADE, Octave DE LA POËZE D HARAMBURE, Simon VEAUX & Rémi GAUDÉ </i> </p>
    </section>

    <footer>

    </footer>
</body>
</html>
